<div class="container">
  <div id="header">
    <h1>Comidas</h1>
  </div>
  <div class="row">
    <% @foods.each do |food| %>
      <div class="col-4">
        <div class="card">
          <div class="card-image">
            <%= image_tag food.photo %>
          </div>
          <div class="card-text">
            <p class="card-meal-type"><%= link_to food.name, food_path(food.id) %></p>
            <h2 class="card-title"><%= food.name %></h2>
            <p class="card-body"><%= food.description %></p>
            <a href="/foods/ <%= food.id %>"></a>
          </div>
          <div class="card-price"> <%= number_to_currency(food.price, delimiter: ".", precision: 0, unit: "ARS $ ") %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
