<div class="container rounded w-75 mt-5 shadow bg-white p-4">
  <div class="row">
        <div class="col-8 border rounded shadow ">
            <div class="card-image-1 mt-3 ml-3 mb-3">
              <%= image_tag @foods.photo%>
            </div>
        </div>
      <div class="col-4 border rounded shadow">
        <div class="row mt-5">
          <h4 style="margin-left: -12px">Nombre</h4>
          <%=@foods.name %>
        </div>
        <div class="row  mt-5">
          <h4 style="margin-left: -12px">Descripcion</h4>
          <%= @foods.description %>
        </div>
        <div class="col-6"></div>
          <div class="row w-45 mt-5">
            <%= link_to "volver", foods_path,  class: " boton-r btn btn-primary"%>
            <%= link_to "Añadir al carrito ", root_path,  class: " mt-4 btn btn-primary"%>
          </div>
        </div>
     </div>
  </div>
</div>
