<script>
  AOS.init();
</script>
<div data-aos="zoom-in">
  <div class="container">
    <div class="row d-flex justify-content-center mt-5">
      <div class="col-4">
        <div class="card" id="card-show-food">
          <div class="card-image">
            <% if @food.photo.attached? %>
              <%= image_tag @food.photo %>
            <% else %>
              <%= image_tag "logoninera.png" %>
            <% end %>
          </div>
          <div class="card-text">
            <p class="card-meal-type"><%= @food.name %></p>
            <h2 class="card-title"><%= @food.name %></h2>
            <p class="card-body"><%= @food.description.truncate(70) %></p>
            <a href="/foods/ <%= @food.id %>"></a>
            <div class="show-food-new">
              <%= link_to "Volver", foods_path, class: "btn-food" %>
              <%= link_to edit_food_path(@food) do %>
                <i class="fa-solid fa-pencil"></i>
              <% end %>
              <%= link_to food_path(@food), data: {turbo_method: :delete, turbo_confirm: "Estas seguro?"} do %>
                <i class="fa-solid fa-trash"></i>
              <% end %>
            </div>
          </div>
          <div class="card-price">
            <%= number_to_currency(@food.price, delimiter: ".", precision: 0, unit: "ARS $ ") %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
